.image-content {
    filter: blur(10px);
    width: 68%;
    margin: auto;
    height: auto;
}
.register-button-section {
    top: 115px;
    background: transparent;
    width: 65%;
    height: 540px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 150px;
    padding-top: 150px;
    border : 2px solid;
    border-radius: 0.8em;
}